<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("./partials/head") %>
        <title>Home</title>
    </head>
    <body>
        <%- include("./partials/header") %> <%- include("./partials/slide-show")
        %>
        <main id="main-content">
            <div class="rapid-search-icons">
                <a
                    href="/login"
                    class="
                        text-decoration-none
                        font-size-20
                        black-txt
                        flex
                        align-center
                        direction-column
                    "
                >
                    <i class="fas fa-laptop"></i>
                    <div>Notebook</div>
                </a>
                <a
                    href="/register"
                    class="
                        text-decoration-none
                        font-size-20
                        black-txt
                        flex
                        align-center
                        direction-column
                    "
                >
                    <i class="fas fa-mouse"></i>
                    <div>Perifericos</div>
                </a>
                <a
                    href="/cart"
                    class="
                        text-decoration-none
                        font-size-20
                        black-txt
                        flex
                        align-center
                        direction-column
                    "
                >
                    <i class="fas fa-microchip"></i>
                    <div>Componentes</div>
                </a>
                <a
                    href="/detail"
                    class="
                        text-decoration-none
                        font-size-20
                        black-txt
                        flex
                        align-center
                        direction-column
                    "
                >
                    <i class="fas fa-tv"></i>
                    <div>Monitores</div>
                </a>
            </div>
            <div class="flex justify-space-around">
                <% for (producto of productos) {%>
                <article
                    class="flex product align-center justify-space-around w-100"
                >
                    <img class="product-img" src=<%=producto.img%>
                    alt=<%= producto.title %> />
                    <div class="flex direction-column">
                        <h3><%= producto.title %></h3>
                        <p><%= producto.price %></p>
                        <p><%= producto.tipe %></p>
                    </div>
                </article>
                <% } %>
            </div>
        </main>
        <%- include("./partials/footer") %>
    </body>
</html>
