<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/head") %>
        <title>Detail</title>
    </head>
    <body>
        <%- include("../partials/header") %> <%- include("../partials/slide-show")
        %>
        <main>
            <div class="flex justify-space-around">
                <article
                    class="
                        flex-detail
                        product-detail
                        align-center
                        justify-space-around
                        w-100
                    "
                >
                    <img
                        class="product-img-detail"
                        src=<%= producto.img %> 
                        alt="3060 Ti"
                    />

                    <div class="flex direction-column">
                        <h2><%= producto.title %></h2>
                        <h3><%= producto.tipe %></h3>
                        <p><%= producto.price %></p>

                        <p class="flex-detail-text">
                            <button class="detail button-form" type="submit">
                                Comprar
                            </button>
                            <button class="detail button-form" type="submit">
                                Agregar al carrito
                            </button>
                        </p>

                        <h1>Descripción</h1>

                        <p><%= producto.desc %></p>
                    </div>
                </article>
            </div>
        </main>
        <%- include("../partials/footer") %>
    </body>
</html>
