<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/head") %>
        <title>Detail</title>
    </head>
    <body>
        <%- include("../partials/header") %> <%- include("../partials/slide-show")
        %>
        <main id="main-content">
            <div class="flex justify-space-around">
                <article
                    class="
                        flex-detail
                        product-detail
                        align-center
                        justify-space-around
                        w-100
                    "
                >
                    <img
                        class="product-img-detail"
                        src=<%= producto.img %> 
                        alt="3060 Ti"
                    />

                    <div class="flex direction-column max-width-340px">
                        <h2><%= producto.title %></h2>
                        <h3><%= producto.type.name %></h3>
                        <p>$<%= toThousand(producto.price) %></p>

                        <div class="flex justify-space-between w-100">
                            <button class="detail button-form" type="submit">
                                Comprar
                            </button>
                            <button class="detail button-form" type="submit" >
                                Agregar al carrito
                            </button>
                        </div>

                        <h1>Descripción</h1>

                        <p><%= producto.description %></p>
                        <% if (locals.isAdmin) { %>
                            <div class="flex justify-space-between">
                                <form action="/product/edit/<%= producto.id %> " method="GET" class="w-50">
                                    <button type="submit" class="detail button-form w-100">Editar</button>
                                </form>
                                <form action="/product/<%= producto.id %>?_method=DELETE " method="POST" class="w-50">
                                    <button type="submit" class="detail button-form w-100">Eliminar</button>
                                </form>
                            </div>
                        <% } %>
                    </div>
                </article>
            </div>
        </main>
        <%- include("../partials/footer") %>
    </body>
</html>
