<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head") %>
        <title>Creando</title>
        <script defer src="/js/createProduct.js"></script>
</head>

<body>
    <%- include("../partials/header") %>
        <%- include("../partials/slide-show")%>
            <main id="main-content">
                <h2>Creación de producto</h2>

                <div class="feedback">
                    <% if(typeof errors !="undefined" ) {%>
                        <p>Errores</p>
                        <ul>
                            <% for(let i=0; i < errors.length; i++) {%>
                                <li>
                                    <%= errors[i].msg %>
                                </li>
                                <% } %>
                        </ul>
                        <% } %>
                </div>
                <form action="/product/create" method="POST" class="flex justify-space-around"
                    enctype="multipart/form-data">
                    <article class="
                        flex-detail
                        product-detail
                        align-center
                        justify-space-around
                        w-100
                    ">
                        <div class="flex direction-column">
                            <label class="form-label">Nombre producto:</label>
                            <input class="form-input" type="text" name="title" id="title"
                                value="<%= locals.old && old.title ? old.title : "" %>">
                            <label class="form-label">Tipo de producto:</label>
                            <select class="form-input" name="type_id" id="type_id">
                                <% for(type of types) { %>
                                    <option value=<%=type.id %>><%= type.name %>
                                    </option>
                                    <% } %>
                            </select>
                            <label class="form-label">Precio del producto</label>
                            <input class="form-input" type="number" name="price" id="price"
                                value="<%= locals.old && old.price ? old.price : "" %>">
                            <label class="form-label">Imagen producto:</label>
                            <input class="form-input" type="file" name="img" id="img" accept=".jpg">
                            <h1>Descripción</h1>
                            <textarea name="description"
                                id="description"><%= locals.old && old.description ? old.description : "" %></textarea>
                        </div>
                    </article>
                    <button type="submit" id="buttonSubmit">Enviar</button>
                </form>
            </main>
            <%- include("../partials/footer") %>
</body>

</html>