<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/head") %>
        <title>Log in</title>
    </head>
    <body>
        <%- include("../partials/header") %>
        <%- include("../partials/slide-show") %>
        <main id="main-content">
            <div class="center">
                <div class="feedback">
                    <% if(typeof errors != "undefined") {%>
                        <p>Errores</p>
                        <ul>
                            <% for(let i=0; i < errors.length; i++) {%>
                                <li><%= errors[i].msg %> </li>
                            <% } %>
                        </ul>
                    <% } %>  
                </div>
                <form action="/user/login" method="POST" class="main-form login">
                    <h2 class="form-title">Log in:</h2>
                    <div class="form-box">
                        <label class="form-label" for="user-name">
                            Email:
                        </label>
                        <input
                            class="form-input"
                            id="email"
                            type="email"
                            name="email"
                            placeholder="Email"
                        />
                    </div>
                    <div class="form-box">
                        <label class="form-label" for="password">
                            Contraseña:
                        </label>
                        <input
                            class="form-input"
                            id="password"
                            type="password"
                            name="password"
                            placeholder="Contraseña"
                        />
                    </div>
                    <div class="form-box">
                        <input type="checkbox" name="remember" value="remember">
                        <label >Recorda mi usuario</label>
                    </div>
                    <button class="button-form" type="submit">Enviar</button>
                    <a href="/register">¿No tienes cuenta?</a>
                </form>
            </div>
        </main>
        <%- include("../partials/footer") %>
    </body>
</html>
